    <!-- NAVIGATION -->
<nav class="navbar navbar-expand-md fixed-top bg-light shadow-sm" id="navbar">
  <div class="container">
    <a class="navbar-brand fw-bold gradient-text" href="#hero">DevJava.dev</a>
    
    <!-- Botón de menú para móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon" ></span>
    </button>
    
    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto mb-2 mb-md-0 gap-4">
        <li class="nav-item"><a class="nav-link" href="#hero">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">Sobre mí</a></li>
        <li class="nav-item"><a class="nav-link" href="#projects">Proyectos</a></li>
        <li class="nav-item"><a class="nav-link" href="#skills">Habilidades</a></li>
        <li class="nav-item"><a class="nav-link" href="#experience">Experiencia</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
      </ul>

      <div class="navbar-nav ms-3">
        <button class="btn nav-link p-0" type="button">
          <i class="bi bi-moon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
