<section id="projects" class="py-5">
            <div class="container">
                <div class="text-center mb-5">
                    <h2 class="fw-bold display-6">
                        Mis <span class="gradient-text">Proyectos</span>
                    </h2>
                    <p class="text-muted mx-auto" style="max-width: 600px;">
                        Una selección de mis trabajos más destacados en desarrollo backend
                    </p>
                </div>


                <div class="row gx-4 gy-4 px-4">

                    <!-- =========== card estilizada ========= -->
                    <div class="animation-components col-md-6">
                        <div class="card card-hover-shadow border-0">
                            <div class="position-relative">
                                <img src="./assets/img/geek.png" 
                                    class="card-img-top" 
                                    style="height: 180px; width: 100%; object-fit: cover;" 
                                    alt="E-Commerce REST API">
                                    <span class="badge gradient-btn position-absolute top-0 start-0 m-3">Destacado</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce GeekXpress</h5>
                                <p class="card-text text-muted">
                                    API completa para plataforma de e-commerce con gestión de usuarios y productos. Implementa autenticación JWT y arquitectura MVC.
                                </p>
                                <div class="mb-3">
                                    <span class="badge bg-light text-dark border">Java 17</span>
                                    <span class="badge bg-light text-dark border">Spring Boot</span>
                                    <span class="badge bg-light text-dark border">Spring Security</span>
                                    <span class="badge bg-light text-dark border">MySQL</span>
                                    <!-- <span class="badge bg-light text-dark border">Docker</span> -->
                                    <span class="badge bg-light text-dark border">JWT</span>
                                </div>
                                    <div class="d-flex gap-2">
                                        <a  href="https://github.com/Crowtinho/geekXpress-back.git" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized">
                                            <i class="bi bi-github me-2 gradient-text"></i>Código back
                                        </a>
                                        <a  href="https://github.com/Crowtinho/GeekXpress-front.git" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized">
                                            <i class="bi bi-github me-2 gradient-text"></i>Código front
                                        </a>
                                        <!-- <a href="https://github.com/Crowtinho/post" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized2">
                                            <i class="bi bi-arrow-up-right-circle-fill me-2 gradient-text"></i>Demo
                                        </a> -->
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!-- =========== card estilizada ========= -->
                    <div class="animation-components col-md-6">
                        <div class="card card-hover-shadow border-0">
                            <div class="position-relative">
                                <img src="./assets/img/landing.png" 
                                    class="card-img-top" 
                                    style="height: 180px; width: 100%; object-fit: cover;" 
                                    alt="E-Commerce REST API">
                                    <!-- <span class="badge bg-primary position-absolute top-0 start-0 m-3">Destacado</span> -->
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sportify</h5>
                                <p class="card-text text-muted">
                                    Landing page diseñada como tienda virtual, donde los usuarios pueden explorar, conocer y adquirir productos de forma fácil, rápida y atractiva
                                </p>
                                <div class="mb-3">
                                    <span class="badge bg-light text-dark border">JavaScript</span>
                                    <span class="badge bg-light text-dark border">HTML</span>
                                    <span class="badge bg-light text-dark border">CSS</span>
                                    <span class="badge bg-light text-dark border">Bootstrap</span>
                                    <!-- <span class="badge bg-light text-dark border">Docker</span> -->
                                    <!-- <span class="badge bg-light text-dark border">JWT</span> -->
                                </div>
                                    <div class="d-flex gap-2">
                                        <a  href="https://github.com/Crowtinho/hackathon.git" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized">
                                            <i class="bi bi-github me-2 gradient-text"></i>Código
                                        </a>
                                        <a href="https://crowtinho.github.io/hackathon/" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized2">
                                            <i class="bi bi-arrow-up-right-circle-fill me-2 gradient-text"></i>Demo
                                        </a>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!-- =========== card estilizada ========= -->
                    <div class="animation-components col-md-6">
                        <div class="card card-hover-shadow border-0">
                            <div class="position-relative">
                                <img src="./assets/img/chat.png" 
                                    class="card-img-top" 
                                    style="height: 180px; width: 100%; object-fit: cover;" 
                                    alt="E-Commerce REST API">
                                    <!-- <span class="badge bg-primary position-absolute top-0 start-0 m-3">Destacado</span> -->
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Chat WebSocket</h5>
                                <p class="card-text text-muted">
                                    Aplicación de mensajería desarrollada con Spring Boot y Angular, 
                                    implementando WebSockets para comunicación instantánea entre usuarios. 
                                    El proyecto fomenta la interactividad de lo usuarios.                               
                                </p>
                                <div class="mb-3">
                                    <span class="badge bg-light text-dark border">Java 17</span>
                                    <span class="badge bg-light text-dark border">Spring Boot</span>
                                    <span class="badge bg-light text-dark border">MongoDB</span>
                                    <span class="badge bg-light text-dark border">Angular</span>
                                    <!-- <span class="badge bg-light text-dark border">Docker</span> -->
                                    <!-- <span class="badge bg-light text-dark border">JWT</span> -->
                                </div>
                                    <div class="d-flex gap-2">
                                        <a  href="https://github.com/Crowtinho/chat-WebSocket-back.git" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized">
                                            <i class="bi bi-github me-2 gradient-text"></i>Código back
                                        </a>
                                        <a  href="https://github.com/Crowtinho/chat-WebSocket-front.git" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized">
                                            <i class="bi bi-github me-2 gradient-text"></i>Código front
                                        </a>
                                        <!-- <a href="https://github.com/Crowtinho/post" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized2">
                                            <i class="bi bi-arrow-up-right-circle-fill me-2 gradient-text"></i>Demo
                                        </a> -->
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!-- =========== card estilizada ========= -->
                    <div class="animation-components col-md-6">
                        <div class="card card-hover-shadow border-0">
                            <div class="position-relative">
                                <img src="./assets/img/crowpage.png" 
                                    class="card-img-top" 
                                    style="height: 180px; width: 100%; object-fit: cover;" 
                                    alt="E-Commerce REST API">
                                    <!-- <span class="badge bg-primary position-absolute top-0 start-0 m-3">Destacado</span> -->
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Crowpage</h5>
                                <p class="card-text text-muted">
                                    Aplicación web de comercio electrónico construida en Java con Jakarta EE y Tomcat 11, 
                                    usando SQL puro (JDBC) para la gestión de datos y filtros de conexión, 
                                    enfocada en la lógica y buenas prácticas.
                                </p>
                                <div class="mb-3">
                                    <span class="badge bg-light text-dark border">Java 17</span>
                                    <span class="badge bg-light text-dark border">Jakarta EEt</span>
                                    <span class="badge bg-light text-dark border">MySQL</span>
                                    <span class="badge bg-light text-dark border">tomcat 11</span>
                                    <span class="badge bg-light text-dark border">JDBC</span>
                                </div>
                                    <div class="d-flex gap-2">
                                        <a  href="https://github.com/Crowtinho/post" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized">
                                            <i class="bi bi-github me-2 gradient-text"></i>Código
                                        </a>
                                        <!-- <a href="https://github.com/Crowtinho/post" target="_blank" rel="noopener noreferrer" class="btn flex-fill btn-personalized2">
                                            <i class="bi bi-arrow-up-right-circle-fill me-2 gradient-text"></i>Demo
                                        </a> -->
                                    </div>
                            </div>
                        </div>
                    </div>


                    

                </div>
            </div>
        </section>