    <section id="skills" class="py-5 bg-light">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="fw-bold fs-2 mb-3">
                    Habilidades <span class="gradient-text">Técnicas</span>
                </h2>
                <p class="text-muted fs-5">
                    Tecnologías y herramientas con las que trabajo día a día
                </p>
            </div>

            <!-- Skills con progreso -->
            <div class="row g-4 mb-5 " >
                <!-- Lenguajes de Programación -->
                <div class="col-md-6">
                    <div class="card h-100 p-4 card-hover-shadow">
                        <h5 class="card-title mb-4"><i class="bi bi-cup-hot gradient-text me-2"></i>Lenguajes de Programación</h5>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>Java</span><span>80%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:80%"></div></div>
                        </div>
                        <!-- <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>SQL</span><span>90%</span></div>
                            <div class="progress"><div class="progress-bar gradient-bag" style="width:90%"></div></div>
                        </div> -->
                        <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>JavaScript</span><span>60%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:60%"></div></div>
                        </div>
                        <!-- <div>
                            <div class="d-flex justify-content-between"><span>PHP</span><span>30%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:30%"></div></div>
                        </div> -->
                        <!-- <div>
                            <div class="d-flex justify-content-between"><span>PHP</span><span>70%</span></div>
                            <div class="progress"><div class="progress-bar bg-primary" style="width:70%"></div></div>
                        </div> -->
                    </div>
                </div>

                <!-- Frameworks & Librerías -->
                <div class="col-md-6">
                    <div class="card h-100 p-4 card-hover-shadow">
                    <h5 class="card-title mb-4"><i class="bi bi-hdd-network gradient-text me-2"></i>Frameworks & Librerías</h5>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between"><span>Spring Boot</span><span>65%</span></div>
                        <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:65%"></div></div>
                    </div>
                    <div class="mb-3" >
                        <div class="d-flex justify-content-between"><span>Spring Data JPA</span><span>60%</span></div>
                        <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:60%"></div></div>
                    </div>
                    <!-- <div class="mb-3">
                        <div class="d-flex justify-content-between"><span>Spring Security</span><span>90%</span></div>
                        <div class="progress"><div class="progress-bar gradient-bag" style="width:90%"></div></div>
                        </div> -->
                    <div class="mb-3">
                        <div class="d-flex justify-content-between"><span>Hibernate</span><span>60%</span></div>
                        <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:60%"></div></div>
                    </div>
                    <div >
                    <div class="d-flex justify-content-between"><span>Angular</span><span>40%</span></div>
                    <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:40%"></div></div>
                    </div>
                    </div>
                </div>

                <!-- Bases de Datos -->
                <div class="col-md-6">
                    <div class="card h-100 p-4 card-hover-shadow">
                        <h5 class="card-title mb-4"><i class="bi bi-database gradient-text me-2"></i>Bases de Datos</h5>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>SQL</span><span>70%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:70%"></div></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>NoSQL</span><span>60%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:60%"></div></div>
                        </div>
                        <!-- <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>PostgreSQL</span><span>85%</span></div>
                            <div class="progress"><div class="progress-bar gradient-bag" style="width:85%"></div></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>MongoDB</span><span>75%</span></div>
                            <div class="progress"><div class="progress-bar gradient-bag" style="width:75%"></div></div>
                        </div> -->
                    </div>
                </div>

                <!-- DevOps & Herramientas -->
                <div class="col-md-6">
                    <div class="card h-100 p-4 card-hover-shadow">
                        <h5 class="card-title mb-4"><i class="bi bi-box-seam gradient-text me-2"></i>DevOps & Herramientas</h5>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>Maven</span><span>60%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:60%"></div></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between"><span>Git</span><span>75%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:75%"></div></div>
                        </div>
                        <!-- <div >
                            <div class="d-flex justify-content-between"><span>Docker</span><span>60%</span></div>
                            <div class="progress" style="height: 8px;"><div class="progress-bar gradient-bag" style="width:60%"></div></div>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Especialidades adicionales -->
            <div class="mb-5 text-center">
                <h3 class="fs-4 fw-semibold mb-4">Especialidades Adicionales</h3>
                <div class="row g-3">
                    <div class="col-6 col-md-4 ">
                        <div class="card h-100 p-3 text-center card-hover-shadow">
                            <i class="bi bi-hdd-network fs-3 gradient-text mb-2"></i>
                            <p class="mb-0 small fw-medium">API REST</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card h-100 p-3 text-center card-hover-shadow">
                            <i class="bi bi-cpu fs-3 gradient-text mb-2"></i>
                            <p class="mb-0 small fw-medium">Microservicios</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="card h-100 p-3 text-center card-hover-shadow">
                            <i class="bi bi-file-code-fill fs-3 gradient-text mb-2"></i>
                            <p class="mb-0 small fw-medium">Código escalable</p>
                        </div>
                    </div>
                    <!-- <div class="col-6 col-md-3">
                        <div class="card h-100 p-3 text-center card-hover-shadow">
                            <i class="bi bi-cloud fs-3 gradient-text mb-2"></i>
                            <p class="mb-0 small fw-medium">Op2</p>
                        </div>
                    </div> -->
                    <!-- <div class="col-6 col-md-3">
                        <div class="card h-100 p-3 text-center shadow-sm">
                            <i class="text-primary bi bi-sliders fs-3 mb-2"></i>
                            <p class="mb-0 small fw-medium">Op3</p>
                        </div>
                    </div> -->
                
                    <!-- Agregar más igual -->
                </div>
            </div>


            <!-- Certificaciones -->
            <div class="text-center">
                <h3 class="fs-4 fw-semibold mb-4">Certificaciones</h3>
                <div class="d-flex flex-wrap justify-content-center gap-2">
                    <span class="text-dark  px-3 py-2">Programación con Java</span>
                    <span class="text-dark  px-3 py-2">Bases de datos SQL</span>
                    <span class="text-dark  px-3 py-2">Git y GitHub</span>
                    <span class="text-dark  px-3 py-2">Programación con PHP</span>
                    <!-- <span class="badge rounded-pill text-dark border border-primary px-3 py-2">Scrum Master Certified</span> -->
                </div>
            </div>
        </div>
</section>